.gameContainer {
    font-size: 20px;
    border-width: 1px;
    border-color: tomato;
    display: flex;
    flex-direction: row;
}

.boardContainer {
    border-width: 1px;
    border-color: rebeccapurple;
}

.infoContainer {
    margin-left: 16px;
    border-width: 1px;
    border-color: turquoise;
}

.infoContainer li {
    list-style-type: none;
    text-decoration: underline;
    color: tomato;
    cursor: pointer;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 84px;
    width: 84px;    
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.square:focus {
    outline: none;
  }